.cabecalho {
  display: flex;
  justify-content: space-around;
  background-color: #4682b4;
  align-items: center;
}

.titulo {
  font-size: 3rem;
  color: #ffffff;
  font-family: cursive;
}

.subtitulo {
  font-size: 2rem;
}
