.cabecalho {
  display: flex;
  justify-content: space-around;
  background-color: #4682b4;
  align-items: center;
  margin: 0;
  padding: 0;
}

.titulo {
  font-size: 3rem;
  color: #ffffff;
  font-family: cursive;
}

.subtitulo {
  font-size: 2rem;
}

body{
  background-color: #a3905098;
}
